<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:,">
        <title>Contact Table</title>
        <style type = "text/css">
        table, th, td{
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <h1>Contacts Table</h1>
        <table>
            <thead>
            <tr>
                <th>Prefix</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Contact By Phone</th>
                <th>Contact By Email</th>
            </tr>
        </thead>
        <% for(var i = 0; i < ArrayOfContacts.length; i++){ %>
            <tr>
                <td><%= ArrayOfContacts[i]["prefix"]%></td>
                <td><%= ArrayOfContacts[i]["firstName"] %></td>
                <td><%= ArrayOfContacts[i]["lastName"] %></td>
                <td><%= ArrayOfContacts[i]["street"] %></td>
                <td><%= ArrayOfContacts[i]["city"] %></td>
                <td><%= ArrayOfContacts[i]["state"] %></td>
                <td><%= ArrayOfContacts[i]["zip"] %></td>
                <td><%= ArrayOfContacts[i]["phone"] %></td>
                <td><%= ArrayOfContacts[i]["email"] %></td>
           
        
        <% } %>
    </tr> 
        </table>
        <a href = "mailer.html">Enter a new Contact!</a>
    </body>
</html>